// compass settings & imports

$legacy-support-for-ie6: true;

@import "compass/css3/images";
@import "compass/support";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/utilities/text/ellipsis";
@import "compass/utilities/text/nowrap";

// vars

$background-color: #eee;
$highlight: #4b95e5;
$arrow-size: 7px 5px 0;
$arrow-size-active: 0 5px 7px;

@mixin highlight {
	background-color: $highlight;
	@include background-image(linear-gradient($highlight, darken($highlight, 5%)));
	color: #fff;
}

// reset

* { border:0;margin:0;outline:0;padding:0 }

// styles

body {
	background: #fff;
	font: 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.select.styled {
	display: inline-block;
	list-style: none;
	position: relative;

	a {
		color: #333;
		display: inline-block;
		padding: 10px 12px;
		position: relative;
		text-decoration: none;

		&.head {
			background-color: #f5f5f5;
			@include background-image(linear-gradient(#f5f5f5, $background-color));
			margin-right: 1px;
			padding-right: 25px;
			position: relative;

			&:hover {
				@include highlight;
			}
		}
	}

	.arrow {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAMAAAAcEyWHAAAAHlBMVEW7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7sAAAC7u7sARzplAAAACXRSTlMRZqpEiCK73QDfeZawAAAAMUlEQVR42i3GyREAMAjDQHMETP8NB0j00CyyXgn5EjAWQdBW1qI2lKPTOit6OZ+Q8wtXEgIXJVjJ1QAAAABJRU5ErkJggg==');
			height: 8px;
			width: 9px;

			position: absolute;
				right: 8px;
				top: 16px;
		}

	&.hover a.head,
	a:hover {
		@include highlight;

		&.head {
			border: solid darken($highlight, 5%);
			border-width: 0 1px;
			margin-left: -1px;
		}

		.arrow {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAMAAAAcEyWHAAAAHlBMVEX///////////////////////////////8AAAD////lfabjAAAACXRSTlMRZqpEiCK73QDfeZawAAAAMUlEQVR42i3GyREAMAjDQHMETP8NB0j00CyyXgn5EjAWQdBW1qI2lKPTOit6OZ+Q8wtXEgIXJVjJ1QAAAABJRU5ErkJggg==');
		}
	}

	ul {
		@include border-radius(0 0 4px 4px);
		@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
		background-color: #fff;
		display: none;
		min-width: 100%;
		overflow: hidden;
		position: absolute;
			left: -1px;
			top: 38px;
		width: 100%;
		z-index: 100;

		li {
			display: block;
			margin: 0;
		}
		a {
			border: 0;
			display: block;
			padding: 5px 12px;

			&.cur,
			&.cur:hover {
				@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1) inset);
				background: #eee;
				font-weight: bold;
				color: #bbb;
				cursor: default;
			}

			&.last {
				@include border-radius(0 0 4px 4px);
			}
		}
	}

	&.hover ul {
		display: block;
	}
}

.ie7 .select.styled ul {
	left: 0;
}

.ie6 .select.styled {
	a.head,
	&.hover a.head {
		margin: 0 2px 0 0;
	}
	ul {
		left: 0;
	}
}